# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go 语言官方强制使用 Tab 缩进
[*.go]
indent_style = tab
indent_size = 4

# Makefiles 必须使用 Tab
[Makefile]
indent_style = tab

# YAML 文件通常使用 2 空格
[*.{yml,yaml}]
indent_style = space
indent_size = 2